
.currenciesBlock{
  min-width: 200px;
  min-height: 100px;
  background: rgba(91, 164, 255, 0.8);
  opacity: 0.95;
  padding: 15px;
  border-radius: 6px;
  box-shadow: rgba(99,99,99,0.15) 2px 2px 2px 3px;
  color: white;
}